# Node
node_modules/

# Prisma
generated/
prisma/migrations/

# Environment variables
.env
.env.*

# Database (SQLite)
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build / dist
dist/
build/

# Cache
.cache
.eslintcache
tsconfig.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
